alembic==1.0.11
certifi==2019.6.16
chardet==3.0.4
cprint==1.1
dataset==1.1.2
fuzzywuzzy==0.17.0
idna==2.8
Mako==1.2.2
MarkupSafe==1.1.1
pyPdf==1.13
PyPDF2==1.26.0
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
python-Levenshtein==0.12.0
requests==2.22.0
selenium==3.141.0
six==1.12.0
SQLAlchemy==1.3.7
tinydb==3.13.0
urllib3==1.25.3
